{
    "ConnectionStrings": {
        "LocalConnection": "Server=db;Database=spreadshare;User ID=postgres;Password=password;Integrated Security=true;Pooling=true;"
    },
    "BinanceCredentials": {
        "api-key": "api_key",
        "api-secret": "api_secret"
    },
    "BinanceClientSettings": {
        "receiveWindow": 10000000,
        "tradingPairs": [
            "MTHETH",
            "ADAETH",
            "VETETH",
            "QTUMETH",
            "PIVXETH",
            "XRPETH",
            "IOTAETH",
            "ONTETH",
            "XMRETH",
            "ZECETH",
            "XLMETH",
            "XVGETH",
            "EOSETH"

        ]
    },
    "SimpleBandwagonStrategy": {
        "baseCurrency": "ETH",
        "minimalRevertValue": "0.01",
        "minimalGrowthPercentage": 7,
        "checkTime": 18,
        "holdTime": 1
    },
     "EnableServices": {
         "strategy": false,
         "trading": false,
         "user": false,
         "zeroMq": false
     }
}
