{
    "ConnectionStrings": {
        "LocalConnection": "Server=db;Database=spreadshare;User ID=postgres;Password=password;Integrated Security=true;Pooling=true;"
    },
    "BinanceClientSettings": {
        "ReceiveWindow": 10000000,
        "Credentials": {
            "Key": "api_key",
            "Secret": "api_secret"
        }
    },
    "TemplateAlgorithm" : {
      "Exchange" : "Binance",
      "BaseCurrency": "ETH",
      "ActiveTradingPairs": [
        "EOSETH"
      ]
    },
    "AllocationSettings": {
        "Backtesting": {
            "TemplateAlgorithm": 1.0
        }
    },
    "BacktestSettings" : {
        "BacktestPortfolio" : {
            "ETH" : { "Symbol": "ETH", "Free" : 11.0, "Locked": 0.0 }
        },
        "BeginTimeStamp" : "auto",
        "EndTimeStamp" : "auto",
        "OutputFolder" : "./backtesting-output"
    }
}
