# Defines connection strings to the database
ConnectionStrings:
  LocalConnection: Server=db;Database=spreadshare;User ID=postgres;Password=password;Pooling=true;SSL Mode=Require;Trust Server Certificate=true;

LoggingSettings:
  # Report errors to Sentry (https://XX@sentry.io/XX)
  SentryDSN: null

# Trading: Which algorithm should be ran
EnabledAlgorithm:
    Algorithm: TemplateAlgorithm
    Exchange: Binance
    Parameters:
      CandleWidth: 5
      TradingPairs:
        - TRXETH
    Allocation:
        ETH: 10

# Trading: Settings for communication with Binance
BinanceClientSettings:
  # Specify the number of milliseconds the request is valid for after sending
  ReceiveWindow: 20000

  # Specify the maximum number of candles fetched in a single request.
  CandleRequestSize: 500

  Credentials:
    Key: api_key
    Secret: api_secret

BacktestSettings:
  # Standard folder to place results in
  OutputFolder: ./backtesting_output
